<!-- 
    exampleSite/layouts/partials/about-custom.html
    Override to inject social buttons at the bottom of the About page.
-->
<script type="text/x-template" id="about-custom-template">
  <div class="custom-about-hook mt-12 pt-8 border-t">
    <div class="d-flex justify-center flex-wrap">
      <template v-for="(url, platform) in siteConfig.social" :key="platform">
        <v-btn
          v-if="url && url.trim() !== ''"
          :icon="'mdi-' + platform"
          variant="tonal"
          color="primary"
          class="mx-2 elevation-2 rounded-circle"
          :href="url"
          target="_blank"
          size="large"
        ></v-btn>
      </template>
    </div>
  </div>
</script>